@import "bootstrap/scss/_functions.scss";
@import "_variables";

@mixin box-shadow($shadow...) {
  @if $enable-shadows {
    box-shadow: $shadow;
  }
}

@mixin transition($transition...) {
  @if $enable-transitions {
    @if length($transition) == 0 {
      transition: $transition-base;
    } @else {
      transition: $transition;
    }
  }
}

@import "mixins/_hover";
@import "mixins/_border-radius";
@import "mixins/_buttons";
@import "_buttons";